<?xml version="1.0" encoding="UTF-8"?>
<odoo>
  <!-- Root menu button and upbar -->
  <menuitem 
    id="menu_hospital_root"
    name="School"
    web_icon="school_manager,static/description/icon.png"
    sequence="0"
  />

  <menuitem 
    id="menu_student_master"
    name="Student Details"
    parent="menu_hospital_root"
    sequence="0"
  />
</odoo>